<h2>Change Password</h2>
<form action="" id="change-password">
  <input type="password" name="passwords[old]" placeholder="old password" />
  <input type="password" name="passwords[new]" placeholder="new password" />
  <button class="btn btn-primary">Submit</button>
</form>