<div class='landing__container'>
  <div class="landing-hero__container">
    <div class="hero-grid__container">
      <div class="test"></div>
      <div class="test2"></div>
    </div>
  </div>
  {{> Wave}}
  <div class="landing-features__container">
    <h1>Here's a list of features</h1>
    <div class="features-grid__container">
      <div class="test3"></div>
      <div class="test3"></div>
      <div class="test3"></div>
      <div class="test3"></div>
      <div class="test3"></div>
      <div class="test3"></div>
    </div>
  </div>
</div>