<div class="pets-card__container pets-card__container--onboard pet-form__btn">
  <h1>Add a pet</h1>
</div>
<div class='onboarding__container'>
  <h1>Welcome to Petlee</h1>
  <p>Tap the card above to add your first pet!</p>
</div>