{{> ChangePassword}}
{{> SignOut}}
<h1>I am petform</h1>
<form action="" id="pet-create">
  <input type="text" name="pet[name]" placeholder="pet name" />
  <input type="submit" value="Create Pet" />
</form>