<div class='section-title__container'>
  <div class="section-title__row">
    <h1>Pets</h1>
    <span>
      <button class="btn-custom btn-custom__primary pet-form__btn pull-right">Add another pet</button>
    </span>
  </div>
</div>
<div class="pets-grid__container">
  {{#each pets as |pet|}}
  <div data-id="{{pet.id}}" class="pets-card__container pet-show__btn">
    <h2>{{pet.name}}</h2>
  </div>
  {{else}}
  {{> Onboarding }}
  {{/each}}
</div>