<h1>I am Pet Show Component for PETNAME: {{pet.name}} PETID: {{pet.id}}</h1>
<button data-id="{{pet.id}}" class="btn btn-danger pet-delete__btn">Delete this pet</button>
<form data-id="{{pet.id}}" action="" id="update-pet-name">
  <label for="update-name">Enter new name</label>
  <input name="pet[name]" id="update-name" type="text" placeholder="Enter new name" />
  <button class="btn btn-primary">Update name</button>
</form>
<h1>Weight</h1>
<form action="" id="weight-create">
  <input type="number" min="0.01" step=".01" name="weightlog[amount]" placeholder="weight" />
  <input type="date" name="weightlog[date]" />
  <input class="btn btn-primary" type="submit" value="Create Weightlog" />
</form>
<div class="weight-list__container">
  <ul class="weight-list">
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
  </ul>
</div>