<div class="app__container">
  <h2>Sign Up</h2>
  <form action="" id="sign-up">
    <div class="mdc-text-field mdc-text-field--outlined">
      <input class="mdc-text-field__input" id="text-field-hero-input" type="email" name="credentials[email]"
        placeholder="email">
      <div class="mdc-notched-outline mdc-notched-outline--no-label">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">Test Label</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    {{!-- <input type="email" name="credentials[email]" placeholder="email" /> --}}
    <input type="password" name="credentials[password]"" placeholder=" password" />
    <input type="password" name="credentials[password_confirmation]" placeholder="password" />
    <button class="btn btn-primary">Submit</button>
  </form>

  <div class="test">

    <div class="mdc-text-field mdc-text-field--outlined">
      <input class="mdc-text-field__input" id="text-field-hero-input2">
      <div class="mdc-notched-outline mdc-notched-outline--no-label">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">Test Label</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  </div>
</div>