<div class="app__container">
  <div class="form__container">
    <div class="form__card">
      <div class="form__contents">
        <h2 class='form__title'>Sign In</h2>
        <form action="" id="sign-in">
          <div class="mdc-text-field mdc-text-field--outlined">
            <input class="mdc-text-field__input" id="text-field-email-input" type="email" name="credentials[email]"
              placeholder="email">
            <div class="mdc-notched-outline mdc-notched-outline--no-label">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">Email</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>
          <div class="mdc-text-field mdc-text-field--outlined">
            <input class="mdc-text-field__input" id="text-field-pw-input" type="password" name="credentials[password]"
              placeholder="password">
            <div class="mdc-notched-outline mdc-notched-outline--no-label">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>
          <button class="btn-custom btn-custom__green btn-custom__block">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>