@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Duru+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700&display=swap");
@import "@material/textfield/mdc-text-field.scss";

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #f1f2f6;
$color-green-light: #80e0a7;
$color-green-dark: #2bc0c4;
$gradient-green: linear-gradient(to right, #80e0a7, #2bc0c4);

$font-serif: "EB Garamond", serif;
$font-sans-serif: "Duru sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-logo: "Pacifico", cursive;

// -------- GENERAL --------
body {
  margin: 0;
  padding: 0;
  background: $color-grey;
  font-family: $font-sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.app__container {
  padding: 120px 0;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.section-title__container {
  width: 960px;
}

.section-title__row {
  display: flex;
  align-items: center;
}
.pet-form__btn {
  margin-left: 32px;
}
.section-content__container {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}
// -------- NAV --------
.nav {
  &__container {
    background: $color-white;
    width: 100vw;
    padding: 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
  }
  &__logo {
    justify-content: flex-start;
    color: $color-black;
    font-family: $font-logo;
    font-weight: 400;
    font-size: 32px;
    // text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  &__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
  }
  &__item {
    text-decoration: none;
    margin-left: 20px;
  }
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.btn-custom {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  &__primary {
    background: $color-green-dark;
    color: $white;
    font-weight: bold;
  }
  &__block {
    width: 100%;
    display: block;
  }
  &__link {
    box-shadow: none;
    color: blue;
  }
}

// -------- FORMS --------
.form__container {
  display: flex;
  justify-content: center;
}

.form__card {
  width: 320px;
  max-height: 450px;
  padding: 50px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: $white;
}

.form__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  p {
    font-size: 14px;
    margin-top: 10px;
  }
}

.form__title {
  margin-bottom: 10px;
}

.mdc-text-field {
  margin-bottom: 10px;
  width: 100%;
}

.form__link {
  cursor: pointer;
  color: blue;
  font-weight: 700;
}

// -------- USER HOME --------
.pets-grid__container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin: 0 auto;
  justify-content: center;
}

.pets-card__container {
  width: 300px;
  height: 192px;
  padding: 24px;
  transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  border-radius: 10px;
  background-color: $color-white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &--onboard {
    border: dashed;
  }
}

// -------- PET SHOW --------
.pet-show-card__container {
  padding: 24px;
  background: $color-white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.pet-show-card__header {
  display: flex;
  align-items: center;
}

.pet-delete__btn {
  margin-left: auto;
}

.weight__list {
  list-style-type: none;
  padding-left: 0;
}

.weight-add-input {
  width: 120px;
  display: inline-block;
}

.weight-edit-input {
  width: 120px;
  border-radius: 0.25rem;
}

.date-add-input {
  width: 200px;
  display: inline-block;
}

.date-edit-input {
  width: 200px;
  border-radius: 0.25rem;
}

.show-update__btn {
  cursor: pointer;
}

.show-edit__btn {
  margin-left: auto;
  margin-right: 12px;
  cursor: pointer;
}
.weight-delete__btn {
  cursor: pointer;
}

.weight-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

// -------- CHARTS --------
.pet-weight-chart__container {
  width: 600px;
  height: 400px;
}
